header, footer{
    background-image: linear-gradient(to right top, #0d253f, #163c5d, #1b557c, #1d709b, #198cbb);
    flex: content;
    align-self: center;
    align-items: center;
    font-size: xx-large;
    font-family: Verdana;
    text-align: center;
    color:#74ccac;
    padding: 100px 50px;
    min-width: 100vw;
    min-height: 20vh;

}

@keyframes color {
    0%   { background: #0d253f; }
    20%  { background: #1b557c; }
    40%  { background: #198cbb; }
    60%  { background: #00adcf; }
    80%  { background: #33c4c8; }
    100% { background: #90cea1; }
  }

body {
    
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
    background-size: 100%;
    min-width: 140vw;
}


.movie {
    padding: 50px;
    border: 10px rgb(205, 10, 205);
    margin: 2px solid black;
    /* inline-size: 100px;
    overflow-wrap: break-word; */
}

#movie-container {

    background-image: linear-gradient(to left bottom, #0d253f, #163c5d, #1b557c, #1d709b, #198cbb, #009dc6, #00adcf, #00bed6, #33c4c8, #56c8ba, #74ccac, #90cea1);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    background-size: auto;
    border: black 50px;
    margin: 0;
    padding: 100px blue; 
    color:black;
    font-size: xx-large;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.poster {
    height: 50%;
    max-width: 50%;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    color: black;
    padding: 5px;
}

.description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: whitesmoke;
    padding: 5px 20px;
}


#search-form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:#163c5d;
    max-width: 50vw;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#00bed6;
    max-width: 140vw;
    max-height: 105vh;
    padding: 20px 80px;
}
label {
    font-family: Verdana;
    font-size: large;
}
#search-bar {
    min-width: 50vh;
    min-height: 3vh;
    color:#0b6358;
    border-radius: 1rem;
    
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:#0D253F;
    background-color: #90CEA1;
    min-width: 10vh;
    min-height: 3vh;
    border-radius: 1rem;
}